.section1_div{
    padding: 30px;
    display: flex;
    justify-content: space-between; 
    justify-content: center;
    
}
.section1_img{
    max-height: 700px;
   width: fit-content;
   
}
.section1_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
   
}
.section1_description{
    color: darkgrey;
}
.section1_button{
background-color: #FFDB5C;
color: black;
height: 40px;
width: 150px;
border-radius: 5px;
border: #FFDB5C;
font-weight: bold;
}

@media only screen and (max-width: 768px) { 
     /* For mobile phones: */
     .section1_div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
     
    }
    .section1_content{
      font-size: 10px;
      
    }

    .section1_img{
      max-height: 500px;
     width: fit-content;
     
  }
  }
  @media (max-width:560px){
    .section1_div{display: flex;
      flex-direction: column;
      
    }
    
    .section1_img{
      display: none;
    }

    
  } 
 



  